
<div class="d-flex">

<!-- Este es el inicio de sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Git-App
    </h3>
    <hr class="text-white"/><!-- para el texto blanco -->
    <div class="list-group list-reset">
      <a href="#"
      class="list-group-item list-group-item-action"
      >Dashboard
      </a>
    </div>
  </div>
  <!-- Este es el FIN de sidebar -->

  <div class="conteiner">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <!-- placeholder mostrar el texto -->
        <input type="text" class="form-control" placeholder="buscar gifs...">
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus a dignissimos nemo praesentium quibusdam reiciendis ducimus accusamus tempora sapiente dolorem, nesciunt cumque nulla commodi distinctio laboriosam mollitia similique maiores itaque!
      </div>
    </div>

  </div>
 
 




</div>

